@use '../node_modules/bootstrap/scss/bootstrap.scss';


header {
    .imgLogo {
        max-width: 100%;
        height: 50px;
        padding-left: 2rem;

    }

    .textlogo {
        display: flex;
        align-items: center;
        padding-left: 1rem;
        font-size: 1.5rem;
    }
}


main {
    background-color: #d48f38;

    .container {
        background-color: white;
        padding: 40px;
    }
    .form-select {
        width: 10%;
        margin: 20px 0;
        margin-left: 7rem;
        border: 10px solid #d48f38;

    }

    .found {
        background-color:#212529 ;
        height: 50px;
        color: white;

    }
    .row {
        margin-top: -10px;
    }




    .imgCards {
        max-width: 100%;
    }

    .colTotal {
        margin: 10px 0;
    }

    .textCard {
        height: 100px;
        object-fit: cover;
        background-color: #d48f38;
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    p {
        color: #212529;
    }
}